*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.header_hr{
  border: 1px solid black;
  margin-left: 30px;
}

.main_header{
  display: block;
  background-color: rgb(206, 187, 187);
  height: 100%;
  width: 40%;
}

.image_1 img{
  height: 300px;
  padding: 20px 100px;
}

h2{
  padding: 20px 100px;
}

.contact{
  margin: 30px  70px 10px 30px
}
 .contact_description{
  margin-top: 10px;
  margin-left: 30px
 }
 .adress{
  margin: 30px  70px 10px 30px
 }

.phone{
  margin: 30px  70px 10px 30px
}

.phone_description{
  margin-top: 10px;
  margin-left: 30px
}

.mail{
  margin: 30px  70px 10px 30px
}

.mail_description{
  margin-top: 10px;
  margin-left: 30px
}

.linkedin{
  margin: 30px  70px 10px 30px
}

.linkedin_description{
  /*no idea how can i change color for link and it is blue */
  margin-top: 10px;
  margin-left: 30px
}

.language{
  margin: 30px  70px 10px 30px
}

.language_description{
  margin-top: 10px;
  margin-left: 30px
}

